/* Main Colors */
:root {
    --text: #23383B;
    --main: #FC7256;
    --mainAccent: #A56A5E;
    --buttons: #55868C;
    --background: #F5E6E2;
    --background2: #fff6f4;
}

* {
    box-sizing: border-box;
}

.body{
    background-color:var(--background) !important;
    margin: 0;
}

/* Header styling */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--main);
    color:var(--background);
    width: 100%;
}

header h1 {
    padding: 25px;
    cursor: pointer;
  }

/* Navigation styling */
.navbar{
    background-color: var(--background);
}

.login-form {
    text-align: center;
    padding: 50px 500px;
    background-color: var(--background2);
}

.signup-form{
    text-align: center;
    padding: 0px 500px;
    background-color: var(--background2);
}

/* Page Styling */
.searchEx {
    background-color: var(--background2);
    padding: 50px;

}
.searchEx {
    border: none;
    outline: none;
}

.loadingExercise {
    border-radius: 8px;
    height: 15rem;
    width: 17rem;
    margin-top: .5rem;
  }


.exercise-instructions {
  margin-top: 1rem;
  text-align: center;
  width: 100%;
  color: rgb(48, 42, 73);
  font-size: 1.3rem;

  word-break: break-word;
}

.exercise-diff {
    color: rgb(48, 42, 73);
    font-size: 1.5rem;
    text-shadow: black 0 0 5px;
  }

  .exercise-equip{
    color:  rgb(48, 42, 73);
    font-size: 1.5rem;
    text-shadow: black 0 0 5px;
  }

  .exercise-muscle {
    color:  rgb(48, 42, 73);
    text-shadow: black 0 0 5px;
    font-size: 1.5rem;
  }

  .exercise-type {
    color: rgb(48, 42, 73);
    text-shadow: black 0 0 5px;
    font-size: 1.5rem;
  }

  .exercise-title {
    font-weight: bold;
    color: black;
    font-size: 2.5rem;
    text-shadow: turquoise 0 0 5px;
  }

  .exercise-card {
    width: 100%;
  }

  .exerciseList {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 2rem;
    height: 400px; 
    overflow-y: auto;
  }

  .exerciseHeader {
    color: rgb(60, 107, 247);
    margin-left: auto;
    margin-right: auto;
  }

  .exerciseBg {
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 999;
  }

  .exercise-input {
    background-color: rgb(50, 53, 77);
    color: white;
    border-radius: 10px;
    border-style: none;
    font-size: 1.8rem;
    font-family: 'Oswald';
  }

  .exercise-btn {
    width: 20%;
    height: 10%;
    border-radius: 6px;
    color: rgb(60, 107, 247);
    background-color: #8ad9e3;

  }
