/* Main Colors */
:root {
    --text: #23383B;
    --main: #FC7256;
    --mainAccent: #A56A5E;
    --buttons: #55868C;
    --background: #F5E6E2;
    --background2: #fff6f4;
}

* {
    box-sizing: border-box;
}

.body{
    background-color:var(--background) !important;
    margin: 0;
}

/* Header styling */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--main);
    color:var(--background);
    width: 100%;
}

header h1 {
    padding: 25px;
    cursor: pointer;
  }

/* Navigation styling */
.navbar{
    background-color: var(--background);
}

.login-form {
    text-align: center;
    padding: 50px 500px;
    background-color: var(--background2);
}

.signup-form{
    text-align: center;
    padding: 0px 500px;
    background-color: var(--background2);
}

/* Page Styling */
.searchEx {
    background-color: var(--background2);
    padding: 50px;

}
.searchEx {
    border: none;
    outline: none;
}